.eventInput {
  display: flex;
  gap: 10px;
  padding: 10px;
  background-color: #fff;
  z-index: 2;    
  justify-content: center;

  input {
    padding: 5px;
    font-size: 14px;
  }
  
  .timeInput {
    width: 110px;
  }

  .nameInput {
    width: 200px;
  }

  button {
    padding: 5px 10px;
    font-size: 14px;
    background-color: #4285f4;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
    &:hover {
      background-color: #357ae8;
    }
  }

  .deleteButton {
    background-color: #FF4136;
    color: #fff;

    &:hover {
      background-color: #e60000;
    }
  }
}
